{% extends 'index.html' %}
{% load static %}
{% block content %}
        <div style="margin-top: 400px" class="container">

            <div id="contact" class="contact pb-100">
                <div style="border: solid thin orangered;
                border-radius: 15px;
                padding: 50px;
                " class="row">
                    <div class="col-lg-6">
                        <div style="border: solid thin white;
                        border-radius: 15px;
                        background-color: transparent;
                        border-color: #ffa50045;" class="xb-contact ">
                            <div  class="contact-title mb-35">
                                <span style="color: white;
                                font-weight: bold;
                                font-size: 24px;
                                "><img src="assets/img/icon/directbox-notif.svg" alt="">add Your Meals For Today ! </span>
                                <!-- <h3>Do you have questions or went more <br> information?</h3> -->
                            </div>

<form method="POST" class="contact-form" action="{% url 'addMeal' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <!-- Meal Name -->
        <div class="col-lg-6">
            <div class="xb-item--field">
                <!-- <span><img src="{% static 'assets/img/icon/c_user.svg' %}" alt=""></span> -->
                <input style="border-radius: 15px;" type="text" name="name" placeholder="Meal Name" required>
            </div>
        </div>
        <!-- meal_type -->
        <div class="col-lg-6">
            <div class="xb-item--field">
                <select style="background-color: white; border-radius: 15px;" name="meal_type" required>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                </select>
            </div>
        </div>
        <!-- calories -->
        <div class="col-lg-6">
            <div class="xb-item--field">
                <!-- <span><img src="{% static 'assets/img/icon/c_location.svg' %}" alt=""></span> -->
                <input style="width: 100%;
                height: 60px;
                padding: 15px 20px;
                border: 0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                color: var(--color-black);
                font-weight: 500;
                margin-top: 20px;
                border-radius: 15px;
                border: 1px solid #F1F1F1;" type="number" name="calories" placeholder="calories" required>
            </div>
        </div>
        <!-- proteins -->
        <div class="col-lg-6">
            <div class="xb-item--field">
                <!-- <span><img src="{% static 'assets/img/icon/c_location.svg' %}" alt=""></span> -->
                <input style="width: 100%;
                height: 60px;
                padding: 15px 20px;
                border: 0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                color: var(--color-black);
                font-weight: 500;
                margin-top: 20px;
                border-radius: 15px;
                border: 1px solid #F1F1F1;" type="number" name="proteins" placeholder="proteins" required>
            </div>
        </div>
        <!-- carbs -->
        <div class="col-lg-6">
            <div class="xb-item--field">
                <!-- <span><img src="{% static 'assets/img/icon/c_location.svg' %}" alt=""></span> -->
                <input style="width: 100%;
                height: 60px;
                border-radius: 15px;
                padding: 15px 20px;
                border: 0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                color: var(--color-black);
                font-weight: 500;
                margin-top: 20px;
                border: 1px solid #F1F1F1;" type="number" name="carbs" placeholder="carbs" required>
            </div>
        </div>
        <!-- fats -->
        <div class="col-lg-6">
            <div class="xb-item--field">
                <!-- <span><img src="{% static 'assets/img/icon/c_location.svg' %}" alt=""></span> -->
                <input style="width: 100%;
                height: 60px;
                border-radius: 15px;
                padding: 15px 20px;
                border: 0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                color: var(--color-black);
                font-weight: 500;
                margin-top: 20px;
                border: 1px solid #F1F1F1;" type="number" name="fats" placeholder="fats" required>
            </div>
        </div>
        
        <!-- Submit Button -->
        <div class="col-12 mt-20 ">
            <button style="    color: white;
                        background-color: orangered;
                        height: 50px;
                        border-radius: 20px;
                        width: 100%;
                        " type="submit">Add Meal</button>
        </div>
    </div>
</form>
                        </div>
                    </div>
                    <div class="col-lg-6"><img style="width: 539px; border-radius: 15px;" src="{% static  'assets/img/miaouiPics/img2.jpg' %}" alt=""></div>
                </div>
            </div>
        </div>
{% endblock %}