   <!-- footer strt -->
    <footer id="contact" class="footer-style-two pb-40" data-background="assets/img/bg/footer_bg2.jpg">
        <div class="container">
            <div class="footer-cta text-center mb-40">
                <span class="xb-item--title">call us</span>
                <h2 class="xb-item--number">+91 081 0256 023</h2>
                <span class="xb-item--mail">Email: <a href="mailto:purefit@gmail.com">purefit@gmail.com</a></span>
            </div>
            <form class="footer-newsletter" action="#">
                <span class="icon"></span>
                <input type="text" placeholder="Enter you email">
                <button>subscribe</button>
            </form>
            <ul class="footer-nav ul_li_center mt-45">
                <li><a href="#!">all products</a></li>
                <li><a href="#!">track order</a></li>
                <li><a href="#!">my account</a></li>
                <li><a href="#!">gift cards</a></li>
                <li><a href="#!">our story</a></li>
                <li><a href="#!">careers</a></li>
                <li><a href="#!">contact</a></li>
            </ul>
            <div class="footer-bottom mt-50 ul_li_between">
                <div class="footer-copyright mt-30">
                    Copyright © 2024 purefit All rights reserved.
                </div>
                <ul class="footer-social ul_li mt-30">
                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#!"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.4893 6.77784L15.3176 0.00292969H13.9365L8.87577 5.88549L4.8338 0.00292969H0.171875L6.28412 8.8984L0.171875 16.0029H1.55307L6.8973 9.79075L11.1659 16.0029H15.8278L9.48896 6.77784H9.4893ZM7.59756 8.97677L6.97826 8.09098L2.05073 1.04267H4.17217L8.14874 6.73088L8.76804 7.61667L13.9371 15.0105H11.8157L7.59756 8.97711V8.97677Z" fill="#DDDDDD" />
                      </svg></a></li>
                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <ul class="footer-links ul_li mt-30">
                    <li><a href="#!">terms of conditions</a></li>
                    <li><a href="#!">privacy pllicy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer end -->
