    <footer class="position-top bg_img pb-70" data-background="assets/img/bg/footer_bg.png">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-logo mb-25 text-center">
                    <img src="assets/img/logo/f_logo.png" alt="">
                </div>
                <div class="sec-title sec-title--white text-center mb-50">
                    <h2 class="title">in a healthy body, healthy mind</h2>
                </div>
                <ul class="footer-nav ul_li_center">
                    <li><a href="#!">all products</a></li>
                    <li><a href="#!">track order</a></li>
                    <li><a href="#!">my account</a></li>
                    <li><a href="#!">gift cards</a></li>
                    <li><a href="#!">our story</a></li>
                    <li><a href="#!">careers</a></li>
                    <li><a href="#!">contact</a></li>
                </ul>
                <div class="footer-bottom mt-50 ul_li_between">
                    <div class="footer-copyright mt-30">
                        Copyright © 2024 purefit All rights reserved.
                    </div>
                    <ul class="footer-links ul_li mt-30">
                        <li><a href="#!">terms of conditions</a></li>
                        <li><a href="#!">privacy pllicy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
